{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "globals": {
    "graphql": true
  },
  "ignorePatterns": ["gatsby-config.js", "gatsby-node.js"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-anonymous-exports-page-templates": "warn",
    "limited-exports-page-templates": "warn"
  },
  "settings": {
    "import/core-modules": [],
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}